{{#if hasCss }}
  import Style from './{{pascalCase name}}.module.scss'
{{/if}}

export interface propsModel {
  title?: string
}

const {{pascalCase name}} = (props: propsModel) => {
return (
  <div className={ Style.{{pascalCase name}} } >
    <h2>{props.title}</h2>
  </div>
)
}

export default {{pascalCase name}}
